$background-color: #686868;
$mainBtn-color: rgb(255, 0, 234);
$mainBtnHover-color: #6600ff;
$btn-color: rgb(252, 101, 101);
$btn-hover: #f7df72;
$border-color: #ffffff;
$modal-color: rgb(170, 175, 21);
$error-color: red;
$text-color: rgb(0, 0, 0);
$input-color: #fff;
$inputborder-color: #000000;
$backgrounds-color: rgb(9, 5, 5)
